html, body{
  max-width: 100%;
  overflow-x:hidden;
}
body{
    background-color:#28282d;
}

h1{
    color:#B3B3C7;
}

.mgBtnFlex{
    display:flex;
    justify-content: center;
}

.moviesDiv{
  display:flex;
  /* align-items:; */
  justify-content: space-around;
  flex-wrap: wrap;
  color: ghostwhite;
  /* border-bottom: 3px ghostwhite;
  border-style:solid; */
}

/* .movieRev{
  color:yellow;
} */

.movies{
    margin-left:20px;
    border-bottom: 3px #B3B3C7;
    border-style: solid;
    border-top:none;
    border-left:none;
    border-right:none;
    max-width:28%;
    margin-right:0px;
}

.movieName{
    color:ghostwhite;
    font-size:35px;
}

img{
    box-shadow: 15px 15px 25px black;
    border-radius: 25px;
    margin-bottom:30px;
    max-height:500px;
}

#footer{
  display:flex;
  justify-content: center;
  align-items: center;
  position:absolute;
  z-index: -1;
  overflow: hidden;
  width:100%;
  height:auto;
  color:ghostwhite;
}

#footer img{
  border-radius:0px;
  box-shadow: none;
  height:80px;
  width:auto;
  margin:0;
  padding-right:2%;
}

    /* extra code I was using to test margin removal. */

    /* display:flex; */
    /* justify-content: space-between; */
    /* background-color: blue; */
    /* margin:0; */
    /* width:8%; */
    /* flex-wrap: nowrap; */

    /* align-items: center;
    justify-content: space-around;
    flex-wrap:wrap; */
    
    .genres {
      align-items: center;
      background-image: linear-gradient(144deg,#AF40FF, #5B42F3 50%,#00DDEB);
      border: 0;
      border-radius: 8px;
      box-shadow: rgba(151, 65, 252, 0.2) 0 15px 30px -5px;
      box-sizing: border-box;
      color: #FFFFFF;
      display: flex;
      font-family: Phantomsans, sans-serif;
      font-size: 20px;
      justify-content: center;
      line-height: 1em;
      max-width: 100%;
      min-width: 140px;
      padding: 19px 24px;
      text-decoration: none;
      user-select: none;
      -webkit-user-select: none;
      touch-action: manipulation;
      white-space: nowrap;
      cursor: pointer;
    }
    
    .genres:active,
    .genres:hover {
      outline: 0;
    }
    
    @media (min-width: 768px) {
      .genres {
        font-size: 24px;
        min-width: 196px;
      }
    }

