html,
body {
  max-width: 100%;
  overflow-x: hidden;
  background-color:#29292E;
}

h1{
    font-family: 'Bebas Neue', cursive;
    color: ghostwhite;
    display: flex;
    justify-content: center;
    font-size: 4.5vw;
    width:100%;
    text-shadow: 4px 4px black;
    /* elements below is if we want the title to match the button style of color gradient */
    /* background: -webkit-linear-gradient( #AF40FF, #5B42F3, #00DDEB );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; */
}

h3 {
  color: ghostwhite;
  display: flex;
  justify-content: center;
  font-size: 1.5vh;
  width: 100%;
}

a{
  color:white;
  font-size:1vw;
}

button {
  align-items: center;
  background-image: linear-gradient(144deg, #AF40FF, #5B42F3 50%, #00DDEB);
  border: 0;
  border-radius: 8px;
  box-shadow: rgba(151, 65, 252, 0.2) 0 15px 30px -5px;
  box-sizing: border-box;
  color: #FFFFFF;
  font-family: Phantomsans, sans-serif;
  line-height: 1em;
  padding: 10px 15px 10px 15px !important;
  text-decoration: none;
  touch-action: manipulation;
  white-space: nowrap;
  width:auto;
  cursor: pointer;
}

.mgBtnFlex {
  display: flex;
  justify-content: center;
}


#genresbtn{
  box-shadow: 5px 5px 25px black;
}

.genresDiv{
  display:flex;
  flex-wrap:wrap;
  justify-content: space-around;
  align-items: center;
  margin-top:4vh;
  margin-bottom:4vh;
}

.moviesDiv {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  /* ask team about flex-end instead */
  flex-wrap: wrap;
  color: #D4D4D6;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 1.15vw;
}

.movies {
  margin-left: 20px;
  /* border-bottom: 3px #CACACC; */
  /* border-style: solid;
    border-top:none;
    border-left:none;
    border-right:none; */
  max-width: 28%;
  margin-right: 0px;
}

.movieName {
  font-family: 'Times New Roman', Times, serif;
  color: ghostwhite;
  font-size: 2.25vw;
}

img {
  box-shadow: 15px 15px 25px black;
  border-radius: 25px;
  margin-bottom: 30px;
  max-height: 22vw;
}

.footer {
  /* other footer alignment options that may be used later */
  /* position:absolute;
  flex-direction: column-reverse;
    bottom: 0;
    left: 0;
    right: 0;
    height:100px; */
  font-family: 'Times New Roman', Times, serif;
  display: flex;
  justify-content: center;
  align-items: center;
  /* width:auto; */
  height:5%;
  color:ghostwhite;
  margin-bottom:1vh;
}

.footer img {
  border-radius: 0px;
  box-shadow: none;
  height: 80px;
  width: auto;
  margin: 0;
  padding-right: 2%;
}

.genres{
  align-items: center;
  background-image: linear-gradient(144deg,#AF40FF, #5B42F3 50%,#00DDEB);
  border: 0;
  border-radius: 8px;
  box-shadow: rgba(151, 65, 252, 0.2) 0 15px 30px -5px;
  box-shadow: 3px 3px 15px black;
  box-sizing: border-box;
  margin-top: 1vh;
  margin-bottom: 1vh;
  margin-left: 1vw;
  margin-right: 1vw;
  color: #FFFFFF;
  font-family: Phantomsans, sans-serif;
  font-size: 1vw;
  line-height: 1em;
  /* width:5%; */
  padding: 19px 24px;
  text-decoration: none;
  touch-action: manipulation;
  white-space: nowrap;
  cursor: pointer;
}

.genres:active,
.genres:hover {
  outline: 0;
}

@media (min-width: 768px) {
  .genres, button {
  font-size: 24px;
  min-width: 196px;
  }
}

@media screen and (max-width: 1450px) {
  .movies{
    max-width: 35%;
  }

  /* img{
    max-height: 500px;
  } */
}

@media screen and (max-width: 1100px) {
  .movies{
    max-width:45%;
  }

  .genres, button{
    /* max-width: 125px; */
    font-size: 1.15vw;
    /* min-width: 4vw; */
    padding:15px ;
  }

  /* img{
    max-height: 450px;
  } */
  #watchlist{
    margin:0;
    text-align: center;
    flex-direction: none;
    align-items: flex-end;
  }
  #watchlist h2{
    font-size:2.25vw !important;
  }

  /* img{
    max-height: 450px;
  } */
}

@media screen and (max-width: 900px) {
  .movies{
    margin:0;
    margin-left: 15px;
  }

  /* img{
    max-height:350px;
  } */
}

@media screen and (max-width: 900px) {
  .movies{
    margin:0;
    margin-left: 15px;
  }

  /* img{
    max-height:350px;
  } */
}

@media screen and (max-width: 767px) {
  .genres, button{
    font-size:15px;
    flex-wrap:wrap;
    /* width:32%; */
    flex-direction:row;
    font-size:1.2vw;
    padding: 2vw 1vw;
  }

@media screen and (max-width: 767px) {
  .genres, button{
    font-size:15px;
    flex-wrap:wrap;
    /* width:32%; */
    flex-direction:row;
    font-size:1.2vw;
    padding: 2vw 1vw;
  }

  img{
    border-radius:8px;
    box-shadow: 8px 8px 13px black;
    max-height: 30vw;
  }

  .footer{
    font-size:3vw;
    margin-bottom:0.5vh;
  }

  .footer img{
    border-radius:0px;
    box-shadow: none;
    height:40px;
    width:auto;
    margin:0;
    padding-right:2%;
  }
}

@media screen and (max-width: 550px) {
  .movies{
    max-width:48%;
    margin:0;
  }

  /* img{
    
  } */
}

@media screen and (max-width: 480px) {
  h1{
    font-size: 9vw;
  }
  button{
    font-size: 2.75vw;
    font-weight: 700;
    padding-top: 10px;
    padding-bottom:10px;
  }
  /* .genres{

  } */
  .moviesDiv {
    max-width: 80%;
    padding: 0% 10% 0% 10%;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 2.75vw;
  }
  .moviesDiv img{
    min-height: 30vh;
    margin-bottom: 15px;
  }
  .movies{
    max-width: 100%;
  }

  .movieName{
    font-size: 3.5vw;
    padding-top: 6%;
  }
  .footer img{
    width:auto;
    height:40px;
  }
  #watchlist{
    margin:0;
    text-align: center;
    flex-direction: none;
    /* justify-content: center; */
    /* align-items: center; */

  }
  #watchlist h2{
    font-size:2.75vw !important;
  }

}

#watchlist {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  margin: 10px 50px 10px 50px;
  width: 100%;
}

#watchlist h2{
  font-family: 'Times New Roman', Times, serif;
  color: ghostwhite;
  font-size: 2.25vw;
}

#watchlist img {
  height: 300px;
  width: auto;
  margin: 0;
  padding-right: 2%;
  margin-bottom:15px;
}

